body {
    padding: 0;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background-color: black;
}

#compliment {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 50px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#datetime {
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
