body {
    padding: 0;
    margin: 0 auto;
    font-size: 24px;
    font-family: 'HelveticaNeueLTStd-Lt';
    background-color: black;
    color: white;
}

#compliment {
    color: white;
    text-align: center;
    font-size: 48px;
    font-family: "HelveticaNeueLTStd-UltLt";
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#datetime {
    text-align: center;
    color: white;
    font-size: 100px;
    font-family: "HelveticaNeueLTStd-UltLt";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 150px;
}

#current_icon {
    font-family: 'weathericons';
    font-size: 120px;
    position: absolute;
    top: 15px;
    left: 20px;
}

#current_temp {
    font-family: "HelveticaNeueLTStd-UltLt";
    position: absolute;
    top: 0px;
    left: 225px;
    font-size: 100px;
}

#current_weather_container {
    top: 50px;
    right: 500px;
    position: absolute;
    color: white;
}

#five-day-forecast {
    font-size: 20px;
    color: white;
    position: absolute;
    top: 150px;
    right: 250px;
}

#google-calendar-events {
    font-size: 16px;
    color: white;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 600px;
    font-family: "HelveticaNeueLTStd-UltLt";
}

#nytimes-wrapper {
    font-size: 14px;
    color: white;
    position: absolute;
    font-family: "HelveticaNeueLTStd-Lt";
    bottom: 500px;
    left: 50px;
    width: 600px;
    color: #808080;
}

#nytimes-politics {
    position: absolute;
    top: 0px;
    width: 600px;
}

#nytimes-world {
    position: absolute;
    top: 100px;
    width: 600px;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Lt';
    src: url('fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-Lt.otf');
    /*src: url('fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-Lt.eot');*/
    /*src: url('fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-Lt.woff2') format('woff2'), url('fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-Lt.woff') format('woff'), url('fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-Lt.ttf') format('truetype'), url('fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg'), url('fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype');*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-UltLt';
    src: url('fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-UltLt.otf');
    font-weight: normal;
    font-style: normal;
}
