body {
    padding: 0;
    margin: 0 auto;
    font-size: 24px;
    font-family: 'HelveticaNeueLTStd-Lt';
    background-color: black;
    color: white;
}

#compliment {
    position: absolute;
    bottom: 300px;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    text-align: center;
    font-size: 72px;
    font-family: "HelveticaNeueLTStd-UltLt";
}


#time {
    text-align: center;
    color: white;
    font-size: 120px;
    font-family: "HelveticaNeueLTStd-UltLt";
    position: absolute;
    top: 80px;
    left: 20px;
}

#date {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: "HelveticaNeueLTStd-UltLt";
    position: absolute;
    left: 20px;
    top: 30px;
}

#current_icon {
    font-family: 'weathericons';
    font-size: 130px;
    position: absolute;
    top: 13px;
    left: 30px;
}

#current_temp {
    font-family: "HelveticaNeueLTStd-UltLt";
    position: absolute;
    top: 0px;
    left: 230px;
    font-size: 100px;
}

#current_weather_container {
    top: 30px;
    right: 500px;
    position: absolute;
    color: white;
}

#five-day-forecast {
    font-size: 20px;
    color: white;
    position: absolute;
    top: 130px;
    right: 290px;
}

#google-calendar-events-wrapper {
    font-size: 18px;
    color: white;
    position: absolute;
    top: 270px;
    left: 50px;
    width: 600px;
}

#nytimes-wrapper {
    font-size: 18px;
    color: white;
    position: absolute;
    font-family: "HelveticaNeueLTStd-Lt";
    bottom: 270px;
    left: 50px;
    width: 1000px;
    color: #D3D3D3;
}

#nytimes-politics {
    position: absolute;
    top: 0px;
    width: 1000px;
}

#nytimes-world {
    position: absolute;
    top: 100px;
    width: 1000px;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Lt';
    src: url('fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-Lt.otf');
    /*src: url('fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-Lt.eot');*/
    /*src: url('fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-Lt.woff2') format('woff2'), url('fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-Lt.woff') format('woff'), url('fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-Lt.ttf') format('truetype'), url('fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg'), url('fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype');*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-UltLt';
    src: url('fonts/Helvetica Neue LT Std/HelveticaNeueLTStd-UltLt.otf');
    font-weight: normal;
    font-style: normal;
}
